{% extends "ebshare/index.html" %}
{% block body %}
<br>
<br>
<br>
<br>
<div class="container">
      <div class="row">
      <div class="col-md-2  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
              {% if profile.picture %} 
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/{{profile.picture.url}}" class="img-circle img-responsive"> </div>
                {% else %}
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://site.steubenvilleconferences.com/assets/images/no-image.png" class="img-circle img-responsive"> </div>            
                {% endif %}   
                <form action={% url "userAuth.views.addPic"%} method="POST" enctype="multipart/form-data" data-ajax="false" name="addpic" id="addpic">        
                {% csrf_token %}
	                <div class="form-group">
	                  <label for="exampleProfilePic">Upload Picture</label>
	                  <p class="help-block">Please upload profile picture</p>
	                  <input type="file" id="picture" name="picture">
                        <button type="submit" class="btn btn-default">Upload</button>
	                </div>
                </form>                                                                                   
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Metro Manila,Philippines</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                    </tbody>
                  </table>
					<table class= "table">
						<tbody>
							<tr>
								<td>
			                    <form action={% url "userAuth.views.badWord"%} method="POST" enctype="multipart/form-data" data-ajax="false" id="badword" name="badword">
			                        <div class="form-group">
			                          <label for="exampleInputBadWord">Bad Words</label>
			                          <input type="text" class="form-control" id="badword" placeholder="Shiz">
			                        </div>                    	
			                    </form>  									
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
					<h3>Associated Books:</h3>
					{% for b in bookList %}
		    		<div class="col-lg-3 col-md-4 col-xs-6 thumb">
						<h5>{{b.book_title}}</h5>
						<a class="thumbnail" href={% url "viewbook.views.renderviewbook" b.id%}>
							<img class="img-responsive portfolio-item" src="/{{b.book_cover.url}}" alt="{{b.alt_text}}"/>
		                </a>
		            </div>
					{% empty %}
		    			<div class="col-lg-3 col-md-4 col-xs-6 thumb">
		    	            <a class="thumbnail" href="#">
		    	                <img class="img-responsive" src="http://placehold.it/400x300" alt="No books available">
			                </a>
			            </div>
					{% endfor %}
					</div>				                  
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <h3 class="panel-title">Upload books</h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                    <div class="col-md-6 col-lg-6 " align="center">
                    <form action={% url "userAuth.views.addBook"%} method="POST" enctype="multipart/form-data" data-ajax="false">        
                    {% csrf_token %}                                                    
                        <div class="form-group">
                          <label for="exampleInputFile">Upload Book</label>
                          <p class="help-block">Please upload cover page</p>
                          <input type="file" id="cover" name="cover">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputTitle">Book title</label>
                          <input type="text" class="form-control" name="title" id="title" placeholder="Title">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputGenre">Book genre</label>
                          <input type="text" class="form-control" name="genre"id="genre" placeholder="Genre">
                        </div>                        
                        <div class="form-group">
                          <label for="exampleInputAuthor">Book author</label>
                          <input type="text" class="form-control" name="author"id="author" placeholder="John Smith">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPoints">Book Points</label>
                          <input type="text" class="form-control" name="points"id="author" placeholder="default is 50 ">
                        </div>                        
                        <div class="form-group">
                          <label for="exampleInputDescription">Book description</label>
                          <textarea class="form-control" rows="3" name="description" id="description" placeholder="Description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  </div>

                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>

<script>
$('#badword').on('submit', function(e) {
	e.preventDefault();
	$.ajax({
		url : $(this).attr('action') || window.location.pathname,
            type: "POST",
            data: $(this).serialize(),
			success: function (data) {
                //$("#comment_list").html(data);
				//jsonObj = $.parseJSON(data);
				//console.log(jsonObj);
				//console.log(data);
				//console.log(data.content);
				window.location.reload();
            },
            error: function (jXHR, textStatus, errorThrown) {
				console.log(jXHR);
				console.log(textStatus)
                alert(errorThrown);
            }
	});
});

</script>    
{% endblock %}