{% extends "ebshare/index.html" %}
{% block body %}
{% load staticfiles %}

<br/>
<br/>
    <!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{book_title}}
                    <h5><strong>Uploaded by: </strong>{{user}}</h5>

                    <small>
                    {{book_author}}
                    </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <!-- OOCnE.jpg -->
                <img class="img-responsive" src="/{{book_cover.url}}" alt="something">
            </div>

            <div class="col-md-4">
                <h3>Description</h3>
                <p>
                {{description}}
                </p>

				<h3>Read book:</h3>
                {{details|safe}}
				{% if time_left > 0 %}
					<a href={% url "viewbook.views.renderreader" id%}>Read {{book_title}}...</a>
				{% endif %}

				<ul>
				{% for i in "123" %}
				{% widthratio book_points 1 i as pointspertime %}
				{% widthratio i 1 i as multiplier %}
				<li>
				<button class="btn btn-default primary" onclick="addTime(10*{{multiplier}}, {{pointspertime}})" {% if book_points < pointspertime %}disabled{% endif %} >
					{{pointspertime}} for {% widthratio 10 1 multiplier %} seconds
				</button>
				</li>
				{% endfor %}
				</ul>
                <!--
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
                -->
            </div>

            <div class="col-md-12">
                <div class="review">
                    <h4>User Reviews :</h4> 
                    <h3>{{book.review.content}}</h3>
                    {% for review in book.content.all %}
                        <b>{{review.user.username}} :  </b>{{review.content}}
                        </br>
                    {% endfor %}
                </div>
                </br>
                <!-- To-Do Test Action -->
                {% if user.is_authenticated %}
                    <form method="POST" action={% url "viewbook.views.add_review" id%}>
                        {% csrf_token %}
                      <fieldset class="form-group"> 
                        <label for="formGroupExampleInput">Write a Review</label>
                        <textarea class="form-control" id="description" name="review" rows="3" placeholder="Review" required></textarea>
                      </fieldset>
                      <button type="submit">Submit</button>
                    </form>
                {% endif %}
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Books</h3>
            </div>

            {% for b in related|slice:":4" %}
            <div class="col-sm-3 col-xs-6">
                <a href={% url "viewbook.views.renderviewbook" b.id%}>                                  <img class="img-responsive portfolio-item" src="{% static b.cover %}" alt="{{b.alt_text}}"/>
                </a>
            </div>
            {% empty %}
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/400x300" alt="No books available" />
                </a>
            </div>
            {% endfor %}
        </div>
        
        <br>
        <!-- Users Reviews Row -->
        <div class="row">
            <div class="col-lg-12 col-sm-6 text-center">
            <div class="well">
                <h4>Review this book</h4>
            <div class="input-group">
                <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
                <span class="input-group-btn" onclick="addComment()">     
                    <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add review</a>
                </span>
            </div>

            <hr data-brackets-id="12673">
            <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                {% for review in book.review_set.all %}
                <strong class="pull-left primary-font">{{review.user.username}}</strong>
                </br>
                <li class="ui-state-default">{{review.content}} </li>
                </br>
                {% endfor %} 
            </ul>
        </div>
</div>

<script>
function addTime(secs, ppt){
	//update reader table
	$.ajax({
		url: '{% url "viewbook.views.purchasebook" id 00 11 %}'.replace('00', ppt).replace('11', secs),
		type: "POST",
		async: false
	});
	window.location.assign('{% url "viewbook.views.renderreader" id%}');
}
</script>
{% endblock %}
