{% extends "ebshare/index.html" %}
{% block body %}
{% load staticfiles %}

<br/>
<br/>
    <!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{book_title}}
                    <h5><strong>Uploaded by: </strong>{{user}}</h5>

                    <small>
                    {{book_author}}
                    </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <!-- OOCnE.jpg -->
                <img class="img-responsive" src="/{{book_cover.url}}" alt="something">
            </div>

            <div class="col-md-4">
                <h3>Description</h3>
                <p>
                {{description}}
                </p>

				<h3>Read book:</h3>
                {{details|safe}}
				{% if time_left > 0 %}
					<a href={% url "viewbook.views.renderreader" id%}>Read {{book_title}}...</a>
				{% endif %}

				<ul>
				{% load tag_lib %}
				{% for i in "012" %}
				{% with pointspertime=forloop.counter0|ppt:book_points %}
				{% with secondsPurchaseable=forloop.counter0|secsP:10 %}
				<li>
					<button class="btn btn-default primary"
						    onclick="addTime({{secondsPurchaseable}}, {{pointspertime}})"
							{% if user_points < pointspertime %}
								disabled
							{% endif %}
					>
					{{pointspertime}} for {{secondsPurchaseable}} seconds {{user_points}} {{pointspertime}}
				</button>
				</li>
				{% endwith %}
				{% endwith %}

				{% endfor %}
				</ul>
                <!--
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
                -->
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Books</h3>
            </div>

            {% for b in related|slice:":4" %}
            <div class="col-sm-3 col-xs-6">
                <a href={% url "viewbook.views.renderviewbook" b.id%}>                                  <img class="img-responsive portfolio-item" src="{% static b.cover %}" alt="{{b.alt_text}}"/>
                </a>
            </div>
            {% empty %}
            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/400x300" alt="No books available" />
                </a>
            </div>
            {% endfor %}
        </div>
        
        <br>
        <!-- Users Reviews Row -->
        <div class="row">
            <div class="col-lg-12 col-sm-6 text-center">
            <div class="well">
                <h4>Review this book</h4>
            <div class="input-group">
                <input type="text" id="userComment" class="form-control input-sm chat-input" placeholder="Write your message here..." />
                <span class="input-group-btn" onclick="addComment()">     
                    <a href="#" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> Add review</a>
                </span>
            </div>
            <hr data-brackets-id="12673">
            <ul data-brackets-id="12674" id="sortable" class="list-unstyled ui-sortable">
                <strong class="pull-left primary-font">James</strong>
                <small class="pull-right text-muted">
                   <span class="glyphicon glyphicon-time"></span>7 mins ago</small>
                </br>
                <li class="ui-state-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </li>
                </br>
                 <strong class="pull-left primary-font">Taylor</strong>
                <small class="pull-right text-muted">
                   <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                </br>
                <li class="ui-state-default">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
                
            </ul>
            </div>
            </div>
        </div>
</div>
<script>
function addTime(secs, ppt){
	//update reader table
	$.ajax({
		url: '{% url "viewbook.views.purchasebook" id 00 11 %}'.replace('00', ppt).replace('11', secs),
		type: "POST",
		async: false
	});
	window.location.assign('{% url "viewbook.views.renderreader" id%}');
}
</script>
{% endblock %}
